
<!DOCTYPE html>
<html>
<head>
    <html lang="en">

<!-- written by Alison Ostendorf
    Project: Landing Page for Real Estate Wholesaler Database
    to be posted at rewholesalerdatabase.com before app is finished
    contact: aostendorf@gmail.com -->


  	<title>Agents for Investors</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="A national database of real estate investment wholesalers, free to view." content="Real Estate Wholesaler Databse">
  	<link rel="stylesheet" href="css/bootstrap.css">
  	<link rel="stylesheet" href="css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>


</head>
<body class="<%= controller_name %><%= action_name%>">
  <!-- include all body copy here -->
  <div class="container center-align">
    
      <br><br>

    	<h1 class="title"><a href="index.html"><strong>Agents&nbsp;for&nbsp;Investors</strong></a></h1>

      <img src="images/AFI_houses.gif", class="img-responsive">

      <section id="description-section">
        <h2>We literally test real estate agents to see if they <strong><u>are good enough to work with investors.</u></strong></h2>
      </section>

      <section id="bad-agent-phrases">
    
          <div class="row">
            <div class="col-sm-4">
              <p>"What do you mean CAP rate?"</p>
            </div>
            <div class="col-sm-4">
              <p>"Why would you make 50 offers in one day?!"</p>
            </div>
            <div class="col-sm-4">  
              <p>"It's a bad deal. It needs a complete renovation."</p>
            </div>
          </div><!-- end .row -->
      
      </section>
      <!-- below section is just for test -->


      <!-- <h2>Investor-friendly agents who deal by the numbers, not emotions.</h2> -->

      <section id="sign-up-success-section">
        
      	<p>You have just successfully signed up to hear about the beta launch of  
      		<b class="larger">Agents for Investors.</b></p><br>

    		<p>We'll keep you in the loop.</p> 
    		<p>Have a fabulous day!</p>

      </section><!-- end newsletter sign up section -->
      
      <br><br>


      <footer id="contact-us">
        
        <div class="row">
          <div class="col-sm-6">
            <p>agentsforinvestors@gmail.com</p>
          </div>
          <div>
            <p>Developed by <a href="http://www.virgoventures.org/web_dev" target="none">Virgo Ventures LLC</a></p>
          </div>
        </div><!-- end .row -->
        
      </footer>
      

<!-- Scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<!-- below is for agile crm tracking on this website via the virgo ventures agile account -->
<script id="_agile_min_js" async type="text/javascript" src="https://virgoventures.agilecrm.com/stats/min/agile-min.js"> </script> <script type="text/javascript" > var Agile_API = Agile_API || {}; Agile_API.on_after_load = function(){ _agile.set_account('tjkucq8hflt2g77o7hpf7nonke', 'virgoventures'); _agile.track_page_view(); _agile_execute_web_rules();}; </script>
<!-- end tracking code for agile crm to track this site -->
</body>
</html>